<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073343321657-q3o1ros7bridg13jrpv6ae21f18v9mpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073343321657-q3o1ros7bridg13jrpv6ae21f18v9mpf</string>
	<key>API_KEY</key>
	<string>AIzaSyCR-wxa_FeggpaWZddUQBfWv_BhbBYMelg</string>
	<key>GCM_SENDER_ID</key>
	<string>1073343321657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ybelikov.makeitdone</string>
	<key>PROJECT_ID</key>
	<string>make-it-done-9809e</string>
	<key>STORAGE_BUCKET</key>
	<string>make-it-done-9809e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073343321657:ios:7180382db36e7e3f0c9fe8</string>
</dict>
</plist>